/* footer {
    box-shadow: 0px 500px 0px 500px #ECEBEC;
}
 */
.systemErrorContainer {
	background-color: #F5F5F5;
	border: 1px solid;
	border-color: transparent;
	padding: 10px 20px;
}

.systemErrorContainer2 {
	background-color: #FFF;
	padding: 10px;
}

.row-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.textareaNotification {
	width: 100%;
	padding: 5px;
	overflow-x: hidden;
}

.headingBackground {
	background-color: #f0f0f0;
}

.notificationList {
	border: 0px;
	padding-left: 40px;
	background-color: #608e28;
	color: white;
}

.notificationCheckBox {
	border: 0px;
	padding-left: 40px;
}
/*date picker*/
.datePointer {
	cursor: pointer;
}

.glyphicon-calendar {
	background-image: none !important;
}

.zIndex {
	display: block;
	float: right;
	margin-top: -25px;
	padding-right: 10px;
}

.glyphicon-chevron-left {
	background-image: none !important;
}

.glyphicon-chevron-right {
	background-image: none !important;
}

.glyphicon-chevron-left:hover {
	background-image: none !important;
}

.glyphicon-chevron-right:hover {
	background-image: none !important;
}

.btn-default, .btn-cta, .btn-primary {
	min-width: 10px;
}

.uib-title {
	width: 100%;
}

.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	margin: 0px;
}

.uib-datepicker table {
	background-color: white;
}

.uib-datepicker td, th {
	padding: 2px !important;
}

.btn-info {
	color: #FFFFFF !important;
	background-color: lightgray !important;
	border-color: lightgray !important;
}

.btn-danger {
	color: #FFFFFF !important;
	background-color: lightgray !important;
	border-color: lightgray !important;
}

.btn-success {
	color: #FFFFFF !important;
	background-color: lightgray !important;
	border-color: lightgray !important;
}
/*date picker*/

/*time picker*/
#exampleInput {
	font-size: 14px;
	border: 1px solid #ccc;
	height: 34px;
	padding-left: 12px;
	padding-right: 12px;
	color: #555;
	width: 94%;
}
/*time picker*/
.form-control {
	margin-top: -5px !important;
	width: 20%;
}
/* Spinner */
.spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10;
}

@
-webkit-keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);

            
transform
:
 
rotate
(360deg);

  
}
}
@
keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);

            
transform
:
 
rotate
(360deg);

  
}
}
.spinner>div>div {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-left: 45%;
	margin-top: 30px;
	border: 0.25rem solid rgba(255, 255, 255, 0.2);
	border-top-color: #222;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
/* Spinner */
.tooltip-right.glyphicon-info-sign {
	background-image: none;
}

.tooltip-right.glyphicon-info-sign:hover {
	background-image: none;
}

.tooltip .tooltip-inner {
	font-size: 12px;
}

.autoWidth {
	width: auto;
}

.ng-dirty.ng-invalid ~ span.glyphicon-alert {
	display: block;
	float: right;
	margin-top: -42px;
	color: #ff8100;
	padding-right: 10px;
}

.ng-dirty.ng-valid ~ span.glyphicon-ok-sign {
	color: green;
	display: block;
	margin-top: -42px;
	float: right;
	padding-right: 10px;
}

.validation.ng-valid.ng-dirty {
	background-color: #ddefc6;
	outline: 0;
	border-color: #608e28;
}

.validation.ng-dirty.ng-invalid {
	border-color: #ff8100;
}

.error {
	color: #ff8100;
	float: left;
	margin-top: -13px;
}

.contentDiv {
	margin-top: 70px;
}

.auditTrailTable {
	width: 100%;
	height: auto;
}

.accordion-tab {
	border: 1px solid rgba(136, 136, 136, 0.33);
	overflow-x: hidden;
}

.content {
	background-color: white;
	padding: 10px;
}

.content-grey {
	background-color: #f9f9f9;
	padding: 10px;
}

.rowspace {
	margin-left: 5px;
	margin-right: 5px;
}

.rowleft {
	margin-left: 20px;
}

.rowBtw {
	margin-top: 10px;
	margin-bottom: 10px;
}

.colIn {
	padding: 10px;
}

.gridborder {
	border-left: 3px solid #608e28;
	background-color: #f9f9f9;
}

.formInput {
	width: 196px !important;
}

.text-title-padding {
	padding-top: 20px;
}

.gridborder-white {
	border-left: 3px solid #608e28;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.gridstyle {
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 20px;
}

.top-padding {
	padding-top: 30px;
}

.top-margin {
	margin-top: 30px;
}

.top-margin-large {
	margin-top: 60px;
}

.innercontent {
	margin-left: 15px;
	min-height: 75px;
	border-bottom: 1px solid rgba(136, 136, 136, 0.33);
}

.innercontent1 {
	margin-left: 15px;
	min-height: 75px;
}

.untabstyle {
	color: #888888;
	font-size: 16px;
}

.labelfontcolorgrey {
	color: #888888;
}

/* .subheader{
color:#608e28;
font-size:16px;
font-weight:normal;
} */
.sub-subheader {
	color: #608e28;
	font-size: 14px;
	font-weight: normal;
}

.subheader-large {
	color: #608e28;
	font-size: 16px;
	font-weight: normal;
}

/* .label-details{
font-size:14px;
font-weight:normal;
padding-top:6px;
} */
.rowtop {
	margin-top: 10px;
	margin-bottom: 10px;
}

.backbutton {
	float: left;
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	border-radius: 1px 0 0 1px;
	position: relative;
	margin-left: 18px;
	padding: 6px 10px;
	min-width: 30px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 16px;
	line-height: 1.375;
	text-decoration: none !important;
	text-transform: lowercase;
	-webkit-user-select: none;
	/* -webkit-border-radius:3px; */
}

.backbutton:focus, .backbutton:hover {
	color: #222222;
	background-color: lightgray;
	border-color: lightgray;
	text-decoration: none !important;
}

.backbutton:before {
	content: "";
	position: absolute;
	right: 100%;
	width: 0px;
	height: 0px;
	border-top: 20px solid transparent;
	border-right: 40px solid #E0E0E0;
	border-color: transparent;
	border-right-color: #E0E0E0;
	border-bottom: 20px solid transparent;
	border-width: 18.5px;
	margin-top: -18.5px;
	text-decoration: none !important;
	border-radius: 3px;
	top: 50%;
	height: 0;
	width: 0;
	z-index: 300 !important;
	background-color: transparent;
}

.backbutton:focus:before, .backbutton:hover:before {
	border-right-color: lightgray;
}

.actionbtn {
	color: #222222;
	height: 36px;
	background-color: #E0E0E0;
	border-color: lightgray;
	text-decoration: none;
	min-width: 70px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 10px;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
	margin-left: 20px;
}

.actionbtn:hover {
	text-decoration: none;
	background-color: lightgray;
	border-color: #c7c7c7;
}

.float-margin-rt {
	margin-right: 50px;
	float: right;
}

.primarybtn {
	color: #222222;
	background-color: #ffd200;
	border-color: #e6bd00;
	display: inline-block;
	margin-bottom: 0;
	min-width: 70px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	height: 36px;
	line-height: 22px;
	border-radius: 0;
	font-family: Arial, helvetica, sans-serif;
	word-wrap: break-word;
}

.primarybtn:hover {
	border-top-color: #dca325;
	border-right-color: #dca325;
	border-bottom-color: #dca325;
	border-left-color: #dca325;
	border-width: 1px;
	border-style: solid;
	background-color: #f1b328;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1b328),
		to(#f1b328));
	background-image: -webkit-linear-gradient(top, #f1b328, #f1b328);
	background-image: -moz-linear-gradient(top, #f1b328, #f1b328);
	background-image: -ms-linear-gradient(top, #f1b328, #f1b328);
	background-image: -o-linear-gradient(top, #f1b328, #f1b328);
	padding-left: 10px;
	padding-right: 10px;
	background-image: linear-gradient(to bottom, #f1b328, #f1b328);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#f1b328, endColorstr=#f1b328);
}

.primarybtn:disabled {
	background-color: #FEEB9B;
	border: 1px solid #FAE2A8;
	color: #999999;
}
/*
.glyphicon {
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: text-top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
}*/
.ocf-icon-large {
	width: 25px;
	height: 25px;
}

.ocf-icon-logout {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22890%22%20height%3D%22575%22%20viewBox%3D%220%200%20890%20575%22%3E%3Cpath%20fill%3D%22%23777%22%20class%3D%22primaryFill%22%20d%3D%22M664.137%20218.596h-77.904l-.063-91.902C586.17%2050.678%20516.975%200%20439.984%200c-78.94%200-136.44%2050.678-136.44%20126.694l-.062%2091.902h-77.618V575h438.273V218.596zM439.984%20438.56c-29.237%200-53.603-24.364-53.603-54.577%200-30.21%2024.365-54.575%2053.604-54.575%2029.237%200%2053.602%2024.364%2053.602%2054.575%200%2030.212-23.39%2054.577-53.602%2054.577zm87.624-219.964h-165.59v-91.902c0-46.78%2032.16-68.22%2077.967-68.22%2045.805%200%2087.71%2021.44%2087.71%2068.22l-.087%2091.902z%22%2F%3E%3C%2Fsvg%3E");
	float: right;
	cursor: pointer;
}

.username-label {
	color: #868686;
	font-size: 16px;
}

.popup-message {
	text-align: center;
	line-height: 30px;
	word-wrap: break-word;
	height: 100px;
	margin-bottom: -38px;
	padding: 10px;
	margin-top: 10px;
	font-size: 16px;
}

.popup-ok-button {
	margin-right: 44%;
	font-size: 16px;
}

.modal-footer {
	border-top: none;
}

/*chart styling*/
.chrt {
	background-color: white;
	left: 10px;
	border-right: 10px solid #f9f9f9;
}

.chartSize {
	width: 200px !important;
	height: 150px !important;
}

ol, ul {
	list-style: none;
	padding-left: 0px;
}

.chart-legend ul span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

/*icons*/
.iconclass {
	margin-left: 10px;
	margin-right: 10px;
}

.icon-adobe-approve {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2088%2088%22%3E%3Ccircle%20fill%3D%22%23608F3E%22%20cx%3D%2244%22%20cy%3D%2244%22%20r%3D%2243.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M75.428%2027.71l-6.57-6.572L35.494%2054.5%2018.857%2037.867l-6.57%206.57%2023.205%2023.21%22%2F%3E%3C%2Fsvg%3E");
}

.ocf-icon-pencil_edit {
	background-image:
		url("data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23608e28%22%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M19.194%208.115l-3.287-3.27%202.465-2.45c.454-.45%201.19-.45%201.645%200L21.66%204.03c.455.45.455%201.183%200%201.634l-2.466%202.45zM8.51%2018.738L5.223%2015.47l9.862-9.806%203.287%203.27M2%2021.943l1.094-4.357%203.287%203.27%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.ocf-icon-arrow_view {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23777778%22%20d%3D%22M23.7%2021.9H.3V8.8h23.4v13.1zM2.1%2020.2H22v-9.6H2.1v9.6zM2.8%205.5h18.4v1.8H2.8zM5.1%202.1h13.7v1.8H5.1z%22%2F%3E%3C%2Fsvg%3E");
}

.icon-adobe-pdf {
	background-image:
		url("data:image/svg+xml,%3Csvg%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20class%3D%22primaryFill%22%20fill%3D%22%239C9C9C%22%20d%3D%22M10.334-.002H3v16.004h13.002V5.422%22%2F%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20id%3D%22a%22%20x1%3D%228.236%22%20x2%3D%2215.577%22%20y1%3D%229.165%22%20y2%3D%222.399%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23FFF%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C8C8C8%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23a)%22%20d%3D%22M10.858.5H3.5v15h12V4.94%22%2F%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M10.328-.002c2.693%201.23%203.9%202.574%205.674%205.424-1.644-1-4.514-.91-4.514-.91s.012-3.12-1.16-4.514z%22%20fill%3D%22%239C9C9C%22%2F%3E%3ClinearGradient%20gradientTransform%3D%22translate(-610.523%20-802.52)%22%20gradientUnits%3D%22userSpaceOnUse%22%20id%3D%22b%22%20x1%3D%22623.119%22%20x2%3D%22624.015%22%20y1%3D%22805.782%22%20y2%3D%22804.956%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23FFF%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C8C8C8%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20d%3D%22M11.188.478c1.71%201.085%202.98%202.232%204.313%204.187C14.168%203.852%2011.985%204%2011.985%204s.154-2.39-.796-3.522z%22%20fill%3D%22url(%23b)%22%2F%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20id%3D%22c%22%20x1%3D%229.947%22%20x2%3D%229.947%22%20y1%3D%2214.538%22%20y2%3D%224.665%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23780010%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C20206%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20d%3D%22M5.63%2014.538c-.115%200-.226-.026-.332-.08l-.244-.123c-.152-.085-.172-.276-.145-.414.095-.468.674-1.06%201.548-1.58.103-.063%201.07-.56%201.07-.56l-.41.39c.294-.482.624-1.077.997-1.806l.05-.1c.285-.56.607-1.19.864-1.816l.106-.263c-.374-1.346-.58-2.43-.384-3.152.062-.217.304-.37.59-.37l.14.003c.406%200%20.58.437.6.636.03.273-.09.712-.094.73l-.195-.025c0-.198.002-.453-.094-.665-.173-.377-.277-.42-.297-.424.035.015.005.083-.007.177-.038.21-.048.465-.048.596%200%20.398.066.893.188%201.398l.266-1.04.222-.15c-.004.053-.088%201.457-.175%201.844l-.05.21c.282.805.765%201.56%201.347%202.103.218.204.495.37.783.537.502-.094%201.043-.137%201.502-.137.753.01%201.197.113%201.397.31.096.096.148.214.165.374.005.073-.028.214-.028.216l-.195-.045v.002c-.002%200-.028-.113-.42-.238-.19-.06-.473-.092-.842-.092-.225%200-.476.012-.745.033.664.29%201.3.472%201.68.472.118%200%20.18-.02.212-.033.035-.017.098-.09.13-.132l.178.08c.026-.182-.062.272-.106.344-.075.1-.194.182-.305.21-.083.022-.187.033-.306.033-.564%200-1.64-.27-2.67-.856-1.11.185-2.462.506-3.645.894-.955%201.72-1.683%202.51-2.306%202.51zm1.43-2.268c-.105.103-.288.276-.344.32-.696.572-1.158%201.22-1.25%201.524.32-.127.822-.59%201.595-1.844zm2.405-3.313c-.172.45-.404%201-.776%201.703-.16.296-.314.576-.46.84.792-.31%201.693-.56%202.74-.765-.078-.06-.154-.12-.228-.183-.506-.426-.933-.962-1.277-1.595z%22%20fill%3D%22url(%23c)%22%2F%3E%3Cg%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20id%3D%22d%22%20x1%3D%222.799%22%20x2%3D%227.223%22%20y1%3D%22.318%22%20y2%3D%227.682%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23B0212F%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23781620%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23d)%22%20d%3D%22M0%202h10.022v4H0z%22%2F%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20id%3D%22e%22%20x1%3D%223.144%22%20x2%3D%226.856%22%20y1%3D%22.912%22%20y2%3D%227.089%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23A71F2D%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23901B27%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23e)%22%20d%3D%22M.5%202.5h9v3h-9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.icon-adobe-excel {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2275%22%20height%3D%2275%22%20viewBox%3D%220%200%2075%2075%22%3E%3Cpath%20class%3D%22primaryFill%22%20fill%3D%22%23608e28%22%20d%3D%22M63%2075H12V0h51v75zm-49-2h47V2H14v71z%22%2F%3E%3Cpath%20class%3D%22primaryFill%22%20fill%3D%22%23608e28%22%20d%3D%22M18%207h39v2H18zM18%2011h39v2H18zM37%2025h11v2H37zM37%2020h15v2H37zM37%2042h11v2H37zM37%2037h15v2H37zM37%2058h11v2H37zM37%2053h15v2H37zM25.833%2028.998l-3.665-3.666%201.414-1.414%202.21%202.21%205.48-5.814%201.456%201.372M25.833%2044.998l-3.665-3.666%201.414-1.414%202.21%202.21%205.48-5.814%201.456%201.372M25.833%2060.998l-3.665-3.666%201.414-1.414%202.21%202.21%205.48-5.814%201.456%201.372%22%2F%3E%3C%2Fsvg%3E");
}

h2, .h2 {
	font-size: 25px;
}

h2 {
	margin-top: 0px;
}

a {
	color: #009286;
	text-decoration: none !important;
	cursor: pointer;
}

.canvas-details {
	color: #8b8989;
	font-size: 13px;
}

a:hover, a:focus {
	color: #009286;
	text-decoration: none;
}

.reg-last-div {
	display: block;
	padding-top: 15px;
}

.actionbtn-without-margin {
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	text-decoration: none;
	min-width: 70px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 10px;
	font-size: 16px;
	line-height: 1.375;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
}

.greenbutton {
	background-color: #009286 !important;
	color: white !important;
}

.btn-default:focus, .btn-default.focus, .btn-default:active,
	.btn-default.active, .open>.dropdown-toggle.btn-default {
	background-color: #009286 !important;
	color: white !important
}

.notification {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 7.5px;
	margin-top: -9.5px;
	width: 25px;
	height: 25px;
	border-radius: 15px;
	background-color: #fdce05;
	border: 2px solid white;
	color: black;
	text-align: center;
	padding: 3px;
}

.search-textbox {
	width: 200px;
	height: 33px;
	padding: 6px 10px;
	border: 1px solid #ccc;
	font-size: 13px;
}

.searchBox {
	width: 100% !important;
}

.searchbtn {
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	text-decoration: none;
	min-width: 90px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 10px;
	font-size: 16px;
	line-height: 1.375;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
	margin-left: 20px;
}

.panel-primary {
	border-color: white !important;
}

.arrowRight>.panel-heading .accordion-toggle.collapsed:after {
	/*padding-top : 10px;*/
	font-size: 20px
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #f9f9f9;
}

.panel-heading {
	height: auto;
	border: none;
	max-height: 500px;
}

.panel-group .panel {
	margin-bottom: 0px;
	border-radius: 0px;
}

.backbutton {
	float: left;
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	border-radius: 1px 0 0 1px;
	position: relative;
	margin-left: 18px;
	padding: 6px 10px;
	min-width: 30px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 16px;
	line-height: 1.375;
	text-decoration: none !important;
	text-transform: lowercase;
	-webkit-user-select: none;
	/* -webkit-border-radius:3px; */
}

.backbutton:focus, .backbutton:hover {
	color: #222222;
	background-color: lightgray;
	border-color: lightgray;
	text-decoration: none !important;
}

.backbutton:before {
	content: "";
	position: absolute;
	right: 100%;
	width: 0px;
	height: 0px;
	border-top: 20px solid transparent;
	border-right: 40px solid #E0E0E0;
	border-color: transparent;
	border-right-color: #E0E0E0;
	border-bottom: 20px solid transparent;
	border-width: 18.5px;
	margin-top: -18.5px;
	text-decoration: none !important;
	border-radius: 3px;
	top: 50%;
	height: 0;
	width: 0;
	z-index: 300 !important;
	background-color: transparent;
}

.backbutton:focus:before, .backbutton:hover:before {
	border-right-color: lightgray;
}

.drop-down {
	width: 247px;
	background-color: #f9f9f9;
}

.rowspaceWithNoMargin {
	margin-left: 0px;
	margin-right: 0px;
}

.marginRight0i {
	margin-right: 0px !important;
}

.highLabel {
	position: absolute;
	margin: -25px 0px 0px 0px;
	font-size: 14px;
}

.lowLabelLast {
	width: 121px;
}

.highLabelnew {
	position: absolute;
	margin: -45px 0px 0px 0px;
	font-size: 12px;
	width: 170px;
	color: grey;
}

.lowLabel {
	position: absolute;
	margin: 25px 0px 0px 0px;
	font-size: 14px;
}

.lowLabelnew {
	position: absolute;
	margin: 47px 0px 0px 0px;
	font-size: 12px;
	width: 160px;
	color: grey;
}

.accordionBodyLeftMargin {
	height: auto;
	padding-left: 25px;
}

.bold-label {
	font-weight: bold;
	font-size: 14px;
}

.tableNoBorder>tbody>tr>td {
	border-top: 0px solid white !important;
	color: #888888 !important;
}

.form-control-input {
	width: 100%
}

.height-auto {
	height: auto;
}

.help_icon {
	position: absolute;
	margin-top: -27px;
	padding-left: 290px;
}

.text-align-right {
	text-align: right;
}

.subheader-dark-green {
	color: #009286;
	font-size: 16px;
	font-weight: bold;
}

input[type="checkbox"] {
	height: 15px;
	width: 15px;
	margin-right: 10px;
}

/* .icon-notification {
    background-image : url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20class%3D%22secondaryFill%22%20d%3D%22M12%202C6.5%202%202%206.5%202%2012s4.5%2010%2010%2010%2010-4.5%2010-10S17.5%202%2012%202zm1%2015h-2v-6h2v6zm0-8h-2V7h2v2z%22%2F%3E%3Cpath%20fill%3D%22%23608e28%22%20class%3D%22primaryFill%22%20d%3D%22M11%2017h2v-6h-2v6zm1-15C6.5%202%202%206.5%202%2012s4.5%2010%2010%2010%2010-4.5%2010-10S17.5%202%2012%202zm0%2018c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208zM11%209h2V7h-2v2z%22%2F%3E%3C%2Fsvg%3E");
} */
.icon-inviteShareplan {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2216%22%20viewBox%3D%220%200%2020%2016%22%3E%3Cg%20fill%3D%22%23777%22%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M.072%204.296V14.95h19.856V4.296L10%209.972%22%2F%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M19.928%201.05H.072v1.262L10%207.987l9.928-5.675%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

:hover.icon-inviteShareplan, :active.icon-inviteShareplan, .active.icon-inviteShareplan,
	.btn.active>.icon-inviteShareplan, .btn:active>.icon-inviteShareplan,
	.btn:hover>.icon-inviteShareplan, .btn:focus>.icon-inviteShareplan {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2216%22%20viewBox%3D%220%200%2020%2016%22%3E%3Cg%20fill%3D%22%23009286%22%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M.072%204.296V14.95h19.856V4.296L10%209.972%22%2F%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M19.928%201.05H.072v1.262L10%207.987l9.928-5.675%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.icon-voteCollector {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2244%22%20viewBox%3D%220%200%2044%2044%22%3E%3Cg%20fill%3D%22%23777%22%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M27.354%204.4h16.6v4.397h-16.6zM27.354%2013.2h16.6v4.4h-16.6zM32.953%2022h11v4.398h-11zM14.596%205.057c11.53-2.396%2012.937%2014.663%204.48%2017.324C8.645%2025.66%204.817%207.09%2014.595%205.058z%22%2F%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M29.848%2025.84c-3.18-2.812-4.265-1.424-7.153-3.517l-.286.305c-1.527%201.063-4.198%201.702-5.69%201.72-2.174-.02-4.29-.617-5.82-1.68l-.35-.235c-2.888%202.096-4.004.59-7.184%203.4C-1.012%2029.702.2%2039.6.2%2039.6h32.782s1.245-9.895-3.134-13.76z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.ocf-icon-No {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%23D21B02%22%20class%3D%22primaryFill%22%20d%3D%22M13.14%2011l-.01-.008L22%202.132%2019.867%200%2011%208.86%202.132%200%200%202.13l8.868%208.862L8.86%2011l.008.008L0%2019.87%202.133%2022%2011%2013.14%2019.867%2022%2022%2019.87l-8.87-8.862%22%2F%3E%3C%2Fsvg%3E");
}

.footer {
	text-align: center;
	height: 110px;
	font-family: Arial, helvetica, sans-serif;
	font-size: 16px;
	color: #222222;
	padding-left: 10px;
	padding-right: 10px;
	background: #ECEBEC;
}

.footer-info {
	padding-top: 30px;
}

.link-color {
	color: black;
}

.searchbtn2 {
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 10px;
	line-height: 1.375;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
}

.innercontentForAgent {
	margin-left: 50px;
	margin-bottom: 30px;
	border-bottom: 1px solid darkgrey;
	margin-right: 40px;
	min-height: 39px;
}

.innercontentForAgent2 {
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
	margin-right: 20px;
	min-height: 39px;
}

.tabel-border-zero {
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.divBorderGrey {
	border: 1px solid #ddd;
}

.table-row {
	color: #009286 !important;
	vertical-align: top;
}

.table-row-align {
	vertical-align: top;
}

.help_icon2 {
	position: absolute;
	margin-top: -17px;
	padding-left: 29px;
}

.group-details-data {
	font-size: 14px;
	font-weight: normal;
	padding-top: 0px;
	color: #333;
}

.text-align-right {
	text-align: right !important;
}

.help_icon3 {
	position: absolute;
	margin-top: -26px;
	padding-left: 228px;
}

.help_icon4 {
	position: absolute;
	margin-top: -17px;
	padding-left: 32px;
}

.help_icon5 {
	position: absolute;
	margin-top: -24px;
	padding-left: 172px;
}

.input-text-field-white-password {
	display: inline-block;
	width: 40%;
}

.pass-labels {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: -3px;
}

.width-pass {
	width: 23%;
}

.browse-button {
	padding-left: 186px;
	margin-top: -35px;
}

.width85 {
	display: inline;
	width: 85%;
}

.mobile {
	padding-top: 70px;
	float: right;
}

.alignment {
	float: right;
}

@media ( max-width : 768px) {
	.mobile {
		padding-top: 0px;
		float: left;
	}
	.alignment {
		float: left;
	}
}

.languageStyle {
	background-color: green;
	color: white;
	padding: 2px;
}

.labelfontcolorgrey-size {
	color: #888888;
	font-size: 14px;
}

.padding-left-1px {
	padding-left: 1px;
}

.top-margin10 {
	margin-top: 10px;
}

.margin-left56 {
	margin-left: -56px;
}

.searchbtn2 {
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 10px;
	line-height: 1.375;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
}

.selectbox-grey {
	background-color: #f9f9f9;
}

.labels-align-textbox {
	margin-top: 6px;
}

.browse-button {
	padding-left: 186px;
	margin-top: -35px;
}

.form-control-date {
	width: 126%;
}

.form-control-username {
	width: 148%;
}

.dwt-header {
	position: absolute;
	margin-top: 2px;
	padding-left: 300px;
}

.tablewidthEmail {
	width: 90%;
}

.fontweightEmail {
	font-weight: bold;
}

.marginLeft {
	margin-left: -30px;
}

.icon-cross {
	width: 18px;
	height: 18px;
}

.help_icon_ticket {
	position: absolute;
	margin-top: -27px;
	padding-left: 212px;
}

.help-icon-agent-dwt {
	position: absolute;
	margin-top: -27px;
	padding-left: 261px;
}

.help-icon-agent-dwt1 {
	position: absolute;
	margin-top: -16px;
	padding-left: 31px;
}

.form-control-agent-admin {
	display: block;
	width: 36%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.create-dwt-agent-draft {
	margin-left: 66px;
	margin-top: -20px;
}

.forgot-pwd-button {
	color: #222222;
	background-color: white;
	border-color: lightgray;
	text-decoration: none;
	min-width: 70px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 10px;
	font-size: 16px;
	line-height: 1.375;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
	margin-left: 20px;
}

.margin-top30 {
	margin-top: -30px;
}

.ocf-icon-delete {
	background-image:
		url("data:image/svg+xml,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%2019c0%201.1.9%202%202%202h8c1.1%200%202-.9%202-2V7H6v12zM19%204h-3.5l-1-1h-5l-1%201H5v2h14V4z%22%20class%3D%22primaryFill%22%20fill%3D%22%23777%22%2F%3E%3Cpath%20d%3D%22M0%200h24v24H0V0z%22%20fill%3D%22none%22%20class%3D%22secondaryFill%22%2F%3E%3C%2Fsvg%3E");
}

.icon-notification {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2244%22%20viewBox%3D%220%200%2044%2044%22%3E%3Cg%20fill%3D%22%23777%22%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M27.354%204.4h16.6v4.397h-16.6zM27.354%2013.2h16.6v4.4h-16.6zM32.953%2022h11v4.398h-11zM14.596%205.057c11.53-2.396%2012.937%2014.663%204.48%2017.324C8.645%2025.66%204.817%207.09%2014.595%205.058z%22%2F%3E%3Cpath%20class%3D%22primaryFill%22%20d%3D%22M29.848%2025.84c-3.18-2.812-4.265-1.424-7.153-3.517l-.286.305c-1.527%201.063-4.198%201.702-5.69%201.72-2.174-.02-4.29-.617-5.82-1.68l-.35-.235c-2.888%202.096-4.004.59-7.184%203.4C-1.012%2029.702.2%2039.6.2%2039.6h32.782s1.245-9.895-3.134-13.76z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.spancolorlightblue {
	color: #0198E1;
}

.loginH4Evot {
	text-align: left;
	color: #009286 !important;
	margin-left: 10px
}

.marginbottomforevot {
	margin-bottom: 35px !important;
}

.rowareawhite {
	background-color: white;
}

.font_color_black {
	color: #333;
}

.icon-tick-yes {
	background-image:
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cpath%20fill%3D%22%23608F3E%22%20d%3D%22M49.686%2011.956L44.55%206.818%2018.46%2032.904%205.453%2019.897.314%2025.034%2018.46%2043.182%22%2F%3E%3C%2Fsvg%3E");
}

.ocf-icon-large_no {
	width: 20px;
	height: 20px;
}

.agent-gen-report>*>li {
	display: block !important;
}

.width-text-box-60 {
	width: 60%;
}

.modal-open {
	overflow-y: scroll !important;
}

/* cbp */
.cb-drop-width {
	left: 27%;
}

body {
	overflow-x: hidden !important;
	min-height: 100vh !important;
}

.showHidebtn {
	color: #222222;
	background-color: #E0E0E0;
	border-color: lightgray;
	text-decoration: none;
	min-width: 90px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 11px 13px;
	font-size: 14px;
	line-height: 1.375;
	border-radius: 0;
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: Arial, helvetica, sans-serif;
	margin-left: 0px;
}

.pager-cb li>a {
	padding: 5px 1px;
	border: none;
	border-radius: 0px;
	color: #009286;
}

.form-width {
	width: 90%;
}

.form-height {
	width: 104%;
	height: 80px;
}

.background-grey {
	background: #f1f1f1;
}

/*fix progress bar issue start */
.colOne, .colTwo, .colThree, .colFour, .colFive, .colSix, .colSeven,
	.colEight, .colNine, .colTen {
	position: absolute;
	margin-top: -8px;
	z-index: 1;
	height: 20px;
	width: 20px;
	border-radius: 25px;
}

.colOne {
	left: 0px;
}

.colTwo {
	left: 10%;
}

.colThree {
	left: 20%;
}

.colFour {
	left: 30%;
}

.colFive {
	left: 40%;
}

.colSix {
	left: 50%;
}

.colSeven {
	left: 60%;
}

.colEight {
	left: 70%;
}

.colNine {
	left: 80%;
}

.colTen {
	left: 90%;
}

.responsiveprogressbar {
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 30px;
}

.progressBarDiv {
	height: 5px !important;
	width: 10%;
	background-color: #f0ad4e;
	float: left;
}
/* Fix progress bar issue end */
.form-control-agent {
	display: block;
	width: 77%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-agent-browse {
	display: block;
	width: 60%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.browse-button-agent {
	padding-left: 222px;
	margin-top: -35px;
}

.table-agent {
	border-bottom: 1px solid #E0E0E0;
	/* border-left: 1px solid #E0E0E0; */
	/* border-right: 1px solid #E0E0E0; */
}

.margin-left-zero {
	margin-left: 0px;
}

.label-black {
	padding-top: 6px;
	text-align: right;
	color: black;
	font-size: 14px;
	margin-top: -5px !important;
}

.text-space-right10 {
	padding-bottom: 31px !important;
}

.one2, .two2, .three2, .four2, .five2, .six2, .seven2 {
	position: absolute;
	margin-top: -8px;
	z-index: 1;
	height: 20px;
	width: 20px;
	border-radius: 25px;
}

.one2 {
	left: 14%;
}

.two2 {
	left: 23%;
}

.three2 {
	left: 32.5%;
}

.four2 {
	left: 42%;
}

.five2 {
	left: 60%;
}

.six2 {
	left: 72%;
}

.seven2 {
	left: 84%;
}

.marginClass {
	width: 70%;
}

.widthP70 {
	width: 70%;
}

.widthP30 {
	width: 30%;
}

.chart-responsive {
	width: 80%;
	height: 50%;
}

.margin-top13 {
	margin-top: 13px
}

.divnoborder {
	/* border: 1px solid #f0f0f0; */
	padding: 10px;
}

/* Romesh css for icons */
a.svg-intermediary {
	position: relative;
	display: inline-block;
	background-color: #E0E0E0;
	border-color: lightgray;
	color: #222222;
}

a.svg-intermediary:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid transparent;
}

a.svg-register {
	position: relative;
	display: inline-block;
	background-color: #E0E0E0;
	border-color: lightgray;
	color: #222222;
}

a.svg-register:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid transparent;
}

a.svg-vote {
	position: relative;
	display: inline-block;
	/* background-color: #E0E0E0; */
	border-color: lightgray;
	color: #222222;
}

a.svg-vote:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid transparent;
}

.button-text-padding {
	padding-right: 15px;
	vertical-align: 86%;
}

.barchart-frame {
	width: 98%;
	height: 50%;
	margin-left: 15px;
}

input[type="text"], input[type="date"], input[type="datetime-local"],
	input[type="password"], input[type="email"] {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select {
	display: block !important;
	margin-top: -5px;
	width: 100% !important;
	height: 34px !important;
	padding: 6px 12px !important;
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	color: #555 !important;
	background-color: #fff !important;
	background-image: none !important;
	border: 1px solid #ccc !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
		!important;
}

@media ( min-width : 992px) {
	body, table {
		font-size: 14px !important;
	}
}

.textAlignRight {
	text-align: right;
}

.icon-resize {
	height: 45px;
	width: 45px;
}

.top-margin20 {
	margin-top: 20px;
}

.top-margin50 {
	margin-top: 50px;
}

.bottom-margin20 {
	margin-bottom: 20px;
}

.top-margin40 {
	margin-top: 40px;
}

.center-align {
	text-align: center;
}

.widthP11 {
	width: 11%;
}

.widthP12 {
	width: 12%;
}

.widthP14 {
	width: 14%;
}

.widthP17 {
	width: 17%;
}

.widthP70 {
	width: 70%;
}

.widthP10 {
	width: 10%;
}

.widthP8 {
	width: 8%;
}

.widthP7 {
	width: 7%;
}

.widthP20 {
	width: 20%;
}

.widthP50 {
	width: 50%;
}

.widthP51 {
	width: 51%;
}

.widthP15 {
	width: 15%;
}

.width20px {
	width: 20px;
}

ul.tab-direction {
	flex-direction: column;
}

@media screen and (max-width: 767px) {
	ul.tab-direction {
		background-color: #f0f0f0;
		flex-direction: row;
		justify-content: space-between;
	}
	.tabwhite {
		padding-left: 5px;
	}
}

@media screen and (max-width: 991px) {
	.leftAlign {
		text-align: left !important;
	}
}

.selectedLang {
	font-weight: bold;
	color: #009286;
}

.view-min-height {
	min-height: 72.5%;
}

.displayInline {
	display: inline !important;
}

.textUnderline {
	text-decoration: underline;
}

.footerClass {
	height: 100px;
	background-color: #ecebec;
	padding-top: 30px;
}

.copyright {
	display: block;
	font-size: 14px;
	float: right;
	margin-top: 40px;
	margin-right: 20px;
	margin-bottom: 40px;
	font-family: arial;
	position: relative;
	color: rgb(102, 102, 102);
}

.formDiv {
	background-color: #f0f0f0;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

h4, .h4 {
	color: #608e28;
	font-size: 26px;
}

.marginTop0to20 {
	margin-top: 0px;
}

.margin10 {
	margin: 10px;
}

.paddingLeft20 {
	padding-left: 20px;
}

.height40 {
	height: 40px;
}

.height50 {
	height: 50px;
}

.marginZero {
	margin: 0px !important;
}

.marginTop340 {
	margin-top: 340px;
}

.marginTop10 {
	margin-top: 10px;
}

.marginLeft10i {
	margin-left: 10px !important;
}

.paddingTopBtm20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.marginLeft75i {
	margin-left: 75px !important;
}

@media screen and (max-width: 768px) {
	.navbar-toggle {
		margin-top: 3px;
	}
}

.borderRight {
	border-right: 1px solid #f0f0f0;
}

@media screen and (max-width:991px) {
	.borderRight {
		border-right: none;
	}
	.leftAlign {
		text-align: left !important;
	}
	.bottom-margin20SM {
		margin-bottom: 20px;
	}
}

.marginTopMinus5i {
	margin-top: -5px !important;
}

/*The below html class is written to override the core.css from ABN AMRO which was causing footer issue*/
html {
	background: none !important;
}

.paddingLeftRightZero {
	padding-left: 0px;
	padding-right: 0px;
}

.paddingRight30 {
	padding-right: 30px;
}

.richTextClass {
	height: 200px;
	overflow: scroll;
}

.cursorPointer {
	cursor: pointer;
}

.addButtonStyle {
	margin-top: 30px;
	padding: 0px !important;
}

.paddingZero {
	padding: 0px;
}

.marginLeft0i {
	margin-left: 0px !important;
}

.backgroundF0 {
	background: #f0f0f0;
}

.marginTop25 {
	margin-top: 25px;
}

.marginLeft20 {
	margin-left: 20px;
}

.height50 {
	height: 50px;
}

.overflow-x-hdn {
	overflow-x: hidden;
}

.padding-top0px {
	padding-top: 0px;
}

.top-margin0i {
	margin-top: 0px !important;
}

.left10px {
	left: 10px;
}

.padding-top10px {
	padding-top: 10px;
}

.padding-top8px {
	padding-top: 8px;
}

.margin-rt {
	margin-right: 50px;
}

.saveButtonMargin {
	margin-right: 10px;
}

.browseLabel {
	margin-bottom: 0px;
}

.marginTopBottom {
	margin-top: 20px;
	margin-bottom: 20px;
}

.paneHeight {
	height: 643px;
	overflow-y: auto;
	overflow-x: hidden;
}

.searchResult {
	margin: 0px 30px 20px 10px;
	padding: 20px 15px;
	background-color: #f0f0f0;
}

table {
	font-size: 16px;
}

.navbar-toggle {
	margin-bottom: 3px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #005E5D;
}

.menuList select {
	background-color: #009286 !important;
	color: #FFF !important;
}

.svgMargin {
	margin-left: 20%;
}

.subheader-margin {
	margin-left: 15px;
}

.descriptionMargin {
	margin: 15px
}

.modal-message {
	text-align: center;
	line-height: 30px;
	word-wrap: break-word;
	padding: 10px;
	font-size: 16px;
}
/* Media queries*/
@media screen and (min-width: 992px) {
	.table th {
		font-size: 14px;
	}
	table {
		font-size: 14px;
	}
	.menuList .navbar-collapse>ul>li.active-item>a:after {
		content: '';
		display: block;
		position: static;
		margin: 0 0 -10px 0;
		border-bottom: 6px #F3C000 solid;
	}
	.navbar-default .navbar-nav>li.active-item>a:hover, .navbar-default .navbar-nav>li.active-item>a:focus
		{
		background-color: #009286 !important;
		border-bottom: 5px solid #009286 !important;
	}
	.widthSM {
		width: 70% !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.table th {
		font-size: 14px;
	}
	.systemErrorContainer {
		padding: 10px 10px;
	}
	table {
		font-size: 16px;
	}
	.floatLeft {
		float: left !important;
	}
	.menuList li {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.menuList li a {
		padding-left: 9px !important;
		padding-right: 10px !important;
	}
	.menuList .navbar-collapse>ul>li.active-item>a:after {
		content: '';
		display: block;
		position: static;
		margin: 0 0 -10px 0;
		border-bottom: 6px #F3C000 solid;
	}
	.navbar-default .navbar-nav>li.active-item>a:hover, .navbar-default .navbar-nav>li.active-item>a:focus
		{
		background-color: #009286 !important;
		border-bottom: 5px solid #009286 !important;
	}
	.alignLeftSM {
		text-align: left !important;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.marginTop340 {
		margin-top: 0px;
	}
	.systemErrorContainer {
		padding: 10px 10px;
	}
	.svgMargin {
		margin-left: 0;
	}
	.tabwhite {
		padding-left: 5px !important;
	}
	.floatLeft {
		float: left !important;
	}
	.toogleHeader {
		background-color: #009294;
	}
	.a_green {
		border-bottom: none !important;
	}
	.alignLeftSM {
		text-align: left !important;
	}
	.menuList ul li {
		float: none;
		z-index: 9999;
		border-bottom: 1px solid #dddddd;
	}
	.menuList ul li a {
		padding-bottom: 10px;
	}
	.menuList .navbar-collapse>ul>li.active-item>a {
		border-left: 6px #F3C000 solid;
	}
	.navbar-default .navbar-nav>li.active-item>a.navbar-default .navbar-nav>li.active-item>a:hover,
		.navbar-default .navbar-nav>li.active-item>a:focus {
		border-bottom: none !important;
	}
	.navbar-default .navbar-nav>li>a {
		background-color: #009286;
	}
	.menuList ul {
		list-style: none;
		margin-left: 0px !important;
	}
	.widthSM {
		width: 70% !important;
	}
}

@media screen and (min-width: 320px)and (max-width:479px) {
	.marginTop340 {
		margin-top: 0px;
	}
	.marginTop0to20 {
		margin-top: 20px;
	}
	.systemErrorContainer {
		padding: 10px 10px;
	}
	.svgMargin {
		margin-left: 0;
	}
	.widthSM {
		width: 55% !important;
	}
	.floatLeft {
		float: left !important;
	}
	.alignLeftSM {
		text-align: left !important;
	}
	.toogleHeader {
		background-color: #009294;
	}
	.a_green {
		border-bottom: none !important;
	}
	.menuList ul li {
		float: none;
		z-index: 9999;
		border-bottom: 1px solid #dddddd;
	}
	.menuList ul li a {
		padding-bottom: 10px;
	}
	.menuList .navbar-collapse>ul>li.active-item>a {
		border-left: 6px #F3C000 solid;
	}
	.navbar-default .navbar-nav>li.active-item>a.navbar-default .navbar-nav>li.active-item>a:hover,
		.navbar-default .navbar-nav>li.active-item>a:focus {
		border-bottom: none !important;
	}
	.navbar-default .navbar-nav>li>a {
		background-color: #009286;
	}
	.menuList ul {
		list-style: none;
		margin-left: 0px !important;
	}
}

.pie-chart-reg {
	width: 100%;
	display: block;
	border: 0px;
	height: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.wt209-ht167 {
	width: 209px;
	height: 167px;
}

.loginDiv {
	border: 1px solid rgba(136, 136, 136, 0.33);;
}

.inputBottom {
	margin-bottom: 20px;
}

.clrYello {
	background-color: #FFCC11;
	width: 10px;
	height: 10px;
	margin-top: 5px;
}

.clrGreenSqr {
	background-color: #608e28;
	width: 10px;
	height: 10px;
	margin-top: 5px;
}

.lightGreen {
	background-color: #43D58C;
	width: 10px;
	height: 10px;
	margin-top: 5px;
}

.padding-bottom70px {
	padding-bottom: 70px;
}

.padding-bottom55px {
	padding-bottom: 55px;
}

.font-color-green {
	color: #608e28;
}

.border-bottom-lightgray {
	border-bottom: 2px solid #f9f9f9;
}

.border-bottom-green {
	border-bottom: 2px solid #608e28;
}

.padding-right0px {
	padding-right: 0px;
}

.paddingLeft10px {
	padding-left: 10px !important;
}

.padding-bottom75px {
	padding-bottom: 75px;
}

.chart-reg {
	max-width: 100%;
	width: 300px;
	left: 10px;
	top: 5px;
	height: 183px;
}

.padding6pxi {
	padding: 6px !important;
}

.table {
	border-bottom: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	margin-bottom: 20px;
}

.table th {
	background: #f1f1f1;
	color: #608e28;
	font-size: 16px;
	padding: 0px;
	position: relative;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	padding: 14px;
	border-bottom: 1px solid #E0E0E0;
}

button.accordion {
	background-color: white;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	height: 70px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

button.accordion-toggle.collapsed:after {
	content: "\002B";
	color: #777;
	margin-top: -50px;
	float: right;
	margin-left: 5px;
	font-size: 45px;
}

button.accordion-toggle:after {
	content: "\2212";
	color: #777;
	margin-top: -50px;
	float: right;
	margin-left: 5px;
	font-size: 45px;
}

.divborder {
	border: 1px solid #f0f0f0;
	padding: 10px;
}

.row1 {
	margin-left: -10px;
	margin-right: -10px;
}

td {
	padding: 10px;
}

.td-nopad {
	padding: 0px;
}

.border-right {
	border-right: 2px solid #f0f0f0;
}

/*table {
font-size:14px;
}*/
label {
	font-weight: normal;
}

.innerdiv {
	padding: 10px 0px 10px 30px;
	background-color: #f0f0f0;
	overflow-y: scroll;
	overflow-x: hidden;
}

hr {
	margin-top: 10px;
}

.fontbold {
	font-weight: bold !important;
}

.pager {
	margin: 10px 0px;
}

.pager li>a {
	padding: 5px 10px;
	border: none;
	border-radius: 0px;
	color: #009286;
}

.imgclass {
	width: 50px;
	height: 50px;
}

.marginBtm0i {
	margin-bottom: 0px !important;
}

.addUserBtn {
	padding-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.viewGMDiv1 {
	border-top: 1px solid #f5f5f5;
	background-color: #f5f5f5
}

.viewGMDiv2 {
	height: auto;
	padding-left: 25px;
	overflow-x: hidden;
}

.width1098 {
	width: 1098px;
}

.width1032 {
	width: 1032px;
}

.borderF9 {
	border: 1px solid #f9f9f9;
}

.alert {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.glyphicon-warning-sign:before, .glyphicon-chevron-down:before {
	content: none !important;
}

.glass-icon {
	cursor: pointer;
	height: 34px;
	width: 34px;
	margin-left: 80%;
	z-index: 1;
	position: absolute;
}

.paddingleft0px {
	padding-left: 0px;
}

.width116Per {
	width: 116% !important;
}

.fill {
	min-height: 100%;
	height: 100%;
}

th {
	padding: 10px;
    text-align: center;
    background-color: #f5f5f5
}