<footer class="row">
	<div class="container-fluid">
		<div class="col-xxs-12 col-md-6"></div>
		<div class="col-xxs-12 col-md-6">
			<div class="textAlignRight">
				<label class="copyright"> &copy; Test Web </label>
			</div>
		</div>
	</div>
</footer>
