<div class="content">
    <div class="container-fluid">
        <div class="row"></div>
    </div>
</div>
<div class="backgroundColorGreen">
    <div class="container-fluid">
        <div class="row">
                <div class="menuList nav-main" id="upperdiv">
                    <ul id="menu">
                    </ul>
                </div>
        </div>
    </div>
</div>