<div class="container-fluid fill">
	<div class="row">
		<div class="col-xxs-12 col-md-12">
			<h1 align="center">
				<a href="/query">Query</a>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xxs-12 col-md-12">
			</br>
		</div>
	</div>
	<div class="row">
		<div class="col-xxs-12 col-md-12">
			<h1 align="center">
				<a href="/reports">Reports</a>
		</div>
	</div>
</div>
